html {
    --background-color: #181818;
    --text-color: #f7f7f7;
    --accent-color: #00708b;
    --default-font: 'Open Sans', sans-serif;
    --accent-font: 'Open Sans', sans-serif;
    --default-animation: all .6s ease-in;
    --default-spacing: 1em;
    --link-color: var(--accent-color);
    --link-active-color: var(--accent-color);
}