/**
 * @file
 * This file contains styling for reusable base elements.
 *
 * Styles placed here should not be opinionated, and should be applicable
 * for most cases on any site. These global definitions can be overridden
 * by skinning themes or for specific uses by using more selective selectors.
 *
 * @todo: look at elements.css from Bartik and base.css from Umami for ideas
 *   about what elements should be included here.
 *   - web/core/themes/bartik/css/base/elements.css
 *   - web/core/profiles/demo_umami/themes/umami/css/base.css
 */

 *, *:before, *:after {
  box-sizing: border-box;
}

.visually-hidden {
  font-size: 0;
}


/* Color Assignment */
html, body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

/* Typography  */

html {font-size: 100%;} /*16px*/

body {
  font-weight: 400;
  line-height: 1.65;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--accent-font);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}


/**
 * Automatically scales images larger than the container.
 * Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/
 */

img, object, video {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
}

/**
 * Improve IE's resizing of images
 * https://css-tricks.com/ie-fix-bicubic-scaling-for-images
 */

img {
  -ms-interpolation-mode: bicubic;
}

a, a:visited {
  color: var(--link-color);
}

a:hover, a:focus {
  color: var(--link-active-color);
}