/* Color Backgrounds */

.overlay-black {
  background-color: rgba( 0, 0, 0, 0.7);
  padding: var(--default-spacing);
}

.overlay-white {
  background-color: rgba( 255, 255, 255, 0.7);
  padding: var(--default-spacing);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Flex Views Grid */

.flex-grid {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  list-style: none;
  list-style-image: none;
}

.flex-grid__item {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {

  .flex-grid.cols-3 .flex-grid__item {
      -webkit-box-flex: 0 1 50%;
      -moz-box-flex: 0 1 50%;
      -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
  }

  .flex-grid.cols-3 .flex-grid__item {
      -webkit-box-flex: 0 1 33.3333%;
      -moz-box-flex: 0 1 33.3333%;
      -webkit-flex: 0 1 33.3333%;
      -ms-flex: 0 1 33.3333%;
      flex: 0 1 33.3333%;
  }

  .flex-grid.cols-4 .flex-grid__item {
      -webkit-box-flex: 0 1 25%;
      -moz-box-flex: 0 1 25%;
      -webkit-flex: 0 1 25%;
      -ms-flex: 0 1 25%;
      flex: 0 1 25%;
  }
  
}

/* Image Tile */

.image-tile {
  display: block;
  position: relative;
  overflow: hidden;
}

.image-tile .hover-box {
  position: absolute;
  top: calc(100% - 4em);
  left: 0;
  width: calc(100% - 2em); /* 1em margin each side */
  height: calc(100% - 2em);
  margin: var(--default-spacing);
  padding: var(--default-spacing);
  transition: var(--default-animation);
}

.image-tile:hover .hover-box,
.image-tile:focus .hover-box {
  top: 0;
}

.image-tile .hover-box .title {
  margin: 0;
  font-size: 1.2em;
  padding: 0 0 .4em 0;
}

/* Text Tile */

.text-tile {
  padding: 2em;
}

.text-tile .title {
  margin-top: 0;
  font-size: 1.2em;
  padding: 0 0 .4em 0;
}